
body {
    background-color: @gray;
}

.dark-gray {
    background-color: @dark-gray;
    &.modal-footer {
        background-color: @dark-gray;
    }
}

.row.row-content {
    padding: 1.25rem 0;
    margin: 0;
}



img.responsive-img {
    display: flex;
    margin: auto;
}

img.materialboxed {
    width: 100%;
}

a.logo {
    font-size: 20px;
}

.material-icons.material-icons_logo.material-icons_logo {
    color: @pastelle-red;
}

.material-icons.material-icons_color.material-icons_color.material-icons_color {
    color: @light-sand;
}

.card-title {
    .material-icons.material-icons_color.material-icons_color.material-icons_color {
        color: @light-sand;
        margin-right: 15px;
    }
}

.pastelle-red-text.pastelle-red-text.pastelle-red-text {
    color: @pastelle-red;
    padding: 0;
}

.pastelle-red-text.red-text_width {
    width: 100%;
}

 .waves-effect.waves-light.btn {
     background-color: @pastelle-red;
 }

.btn-floating.waves-effect.waves-light.btn {
    background-color: @pastelle-red;
    .add-icon {
        transition: all 0.2s linear;
        &.open-scroll {
            transform: rotate(45deg);
            transition: all 0.2s linear;
        }
    }
 }

 .col.padding-zero {
     padding: 0;
 }

 .col.padding-half {
    padding: 0 0.375rem;
 }

 .col.padding-left-zero {
     padding-left: 0;
 }

 .col.padding-right-zero {
     padding-right: 0;
 }

 .col.dark-gray.large-img_padding {
     padding: 1rem;
     margin-top: 0.5rem;
 }

.card {
    .card-content {
        padding:15px;
        transition: all 0.2s linear;
        .material-icons.material-icons_transparent {
            position: absolute;
            top: 20px;
            left: 20px;
            color: transparent;
            transition: all 0.2s linear;
        }
        &:hover {
            .material-icons.material-icons_transparent {
                color: @pastelle-red;
                transition: all 0.2s linear;
            }
        }
    }
}
