
body {
    background-color: @gray;
}

.dark-gray {
    background-color: @dark-gray;
}

.row.row-content {
    padding: 1.25rem 0;
    margin: 0;
}

.material-icons_logo {
    color: @pastelle-red;
}

.material-icons_color {
    color: @light-sand;
    margin-right: 15px;
}

 .waves-effect.waves-light.btn {
     background-color: @pastelle-red;
 }

 .col.padding-zero {
     padding: 0;
 }

 .col.padding-left-zero {
     padding-left: 0;
 }

 .col.padding-right-zero {
     padding-right: 0;
 }

 .card {
     .card-content {
         padding:15px;
     }
     .card-action.card-action_padding {
         padding: 15px;
     }
 }
