@import "color-scheme";

nav.navigation {
    background-color: @dark-gray-blue;
    padding: 0 15px;
    .navigation-container {
        .nav-background {
            background-color: @light-pastelle-blue;
        }
        .hamburger-icon {
            display: block;
        }
    }
}
