<div class="row activity-mobile">
    <div class="col s12 activity-column">
        <div class="card dark-gray">
            <div class="card-content white-text">
                <span class="card-title valign-wrapper">Recent Activity</span>
                <div class="activity-overflow">
                    <!-- Modal Trigger -->
                    <a class="text-white recent-activity_log" href="#modalActivity">
                        <span class=""><i class="material-icons material-icons_color">label</i><p class="white-text"><span class="pastelle-red-text red-text_width ">10:30 am</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
                        quidem?
                        </p>
                        </span>
                    </a>

                    <!-- Modal Structure -->
                    <div id="modalActivity" class="modal dark-gray">
                        <div class="modal-content">
                            <h2><span class="pastelle-red-text red-text_width">10:30 am</span></h2>
                            <p class="flow-text white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, blanditiis.</p>
                        </div>
                        <div class="modal-footer dark-gray">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-effect waves-light btn">OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
