<!-- SETTINGS MODAL START -->

<!-- Modal Structure -->
<div id="modalSettings" class="modal dark-gray">
    <div class="modal-content">
        <h2><span class="pastelle-red-text red-text_width">Settings</span></h2>
        <!-- Switch -->
        <div class="switch">
            <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
            </label>
        </div>

        <!-- Disabled Switch -->
        <div class="switch">
            <label>
                Off
                <input disabled type="checkbox">
                <span class="lever"></span>
                On
            </label>
        </div>
        <!-- Switch -->
        <div class="switch">
            <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
            </label>
        </div>

        <!-- Disabled Switch -->
        <div class="switch">
            <label>
                Off
                <input disabled type="checkbox">
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
    <div class="modal-footer dark-gray">
        <a href="#!" class=" modal-action modal-close waves-effect waves-effect waves-light btn">Apply</a>
    </div>
</div>

<!-- SETTINGS MODAL END -->
