<div class="col s12 m3 activity">
    <div class="col s12 activity-column">
        <div class="card dark-gray">
            <div class="card-content white-text">
                <span class="card-title valign-wrapper"><i class="material-icons material-icons_color valign">info</i>Activity</span>

                <!-- needs a button to toggle between overflow-y hidden and scroll -->

                <div class="activity-overflow">
                    <!-- Modal Trigger -->
                    <a class="text-white" href="#modal1">
                        <span class=""><i class="material-icons material-icons_color">label</i><p class="white-text"><span class="pastelle-red-text red-text_width ">10:30 am</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
                        quidem?
                        </p>
                        </span>
                    </a>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal dark-gray">
                        <div class="modal-content">
                            <h2><span class="pastelle-red-text red-text_width">10:30 am</span></h2>
                            <p class="flow-text white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, blanditiis.</p>
                        </div>
                        <div class="modal-footer dark-gray">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-effect waves-light btn">OK</a>
                        </div>
                    </div>
                    <span class=""><i class="material-icons material-icons_color">label</i><p class="white-text"><span class="pastelle-red-text red-text_width ">10:30 am</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
                    quidem?
                    </p>
                    </span>
                    <span class=""><i class="material-icons material-icons_color">label</i><p class="white-text"><span class="pastelle-red-text red-text_width ">10:30 am</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
                    quidem?
                    </p>
                    </span>
                    <span class=""><i class="material-icons material-icons_color">label</i><p class="white-text"><span class="pastelle-red-text red-text_width ">10:30 am</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
                    quidem?
                    </p>
                    </span>
                    <span class=""><i class="material-icons material-icons_color">label</i><p class="white-text"><span class="pastelle-red-text red-text_width ">10:30 am</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
                    quidem?
                    </p>
                    </span>
                    <span class=""><i class="material-icons material-icons_color">label</i><p class="white-text"><span class="pastelle-red-text red-text_width ">10:30 am</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
                    quidem?
                    </p>
                    </span>
                    <span class=""><i class="material-icons material-icons_color">label</i><p class="white-text"><span class="pastelle-red-text red-text_width ">10:30 am</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
                    quidem?
                    </p>
                    </span>
                    <span class=""><i class="material-icons material-icons_color">label</i><p class="white-text"><span class="pastelle-red-text red-text_width ">10:30 am</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
                    quidem?
                    </p>
                    </span>
                    <span class=""><i class="material-icons material-icons_color">label</i><p class="white-text"><span class="pastelle-red-text red-text_width ">10:30 am</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
                    quidem?
                    </p>
                    </span>
                </div>
            </div>
            <div class="card-action card-action_padding">
                <a class="btn-floating btn waves-effect waves-light"><i class="material-icons add-icon">add</i></a>
            </div>
        </div>
    </div>
</div>
