<div class="col s12">
    <div class="card dark-gray">
        <div class="card-content white-text">

            <div class="wrap">
                <div class="hanger left"></div>
                <div class="hanger right"></div>
                <div class="clock">
                    <div class="number top">
                        XII
                    </div>
                    <div class="number bottom">
                        VI
                    </div>
                    <div class="number left">
                        IX
                    </div>
                    <div class="number right">
                        III
                    </div>
                    <div class="inner"></div>
                    <div class="center"></div>
                    <div class="hand minute dropshadow"></div>
                    <div class="hand hour"></div>
                    <div class="hand second"></div>
                </div>
            </div>
            <span class="card-title valign-wrapper"><i class="material-icons material-icons_color valign">schedule</i>6:00 pm</span>
        </div>
    </div>
</div>
