<div class="col s12 m6 padding-zero collapse-cameras_menu">
    <div class="col s12 m4 padding-left-zero">
        <div class="card dark-gray">
            <div class="card-content">
                <i class="large material-icons">videocam</i>
                <i class="material-icons material-icons_transparent">zoom_in</i>
            </div>
        </div>
    </div>
    <div class="col s12 m4 padding-half">
        <div class="card dark-gray">
            <div class="card-content">
                <i class="large material-icons">videocam</i>
                <i class="material-icons material-icons_transparent">zoom_in</i>
            </div>
        </div>
    </div>
    <div class="col s12 m4 padding-right-zero">
        <div class="card dark-gray">
            <div class="card-content">
                <i class="large material-icons">videocam</i>
                <i class="material-icons material-icons_transparent">zoom_in</i>
            </div>
        </div>
    </div>
</div>
