<div class="col s12 weather-column">
    <div class="card dark-gray">
        <div class="card-content white-text">
            <span class="card-title valign-wrapper"><i class="material-icons material-icons_color valign">cloud</i>Temperature</span>
            <!-- <img src="weather-partlycloudy.svg" alt="PC"> -->
        </div>
        <div class="card-action card-action_padding">
            <!-- <form action="#">
                <p class="range-field">
                    <input type="range" class="pastelle-red" id="test5" min="0" max="100" />
                </p>
            </form> -->
            <a href="#" class="waves-effect waves-light btn">Link</a>
        </div>
    </div>
</div>
